// Supports weights 200-800
@import '@fontsource-variable/dosis';
@import '@fontsource/fira-sans';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: #141414;
}